// neutrals
$color--white: #FFF !default;
$color--gray-0: #E8EAF2 !default;
$color--gray-100: #F9FAFB !default;
$color--gray-200: #E4E8EC !default;
$color--gray-300: #CCD4DB !default;
$color--gray-400: #A2ADB8 !default;
$color--gray-500: #A2ADB8 !default;
$color--gray-500: #6A7B8B !default;
$color--black-primary: #212B36 !default;

// green
$color--green-100: #F6FAF4 !default;
$color--green-200: #C4E5B3 !default;
$color--green-300: #E4E8EC !default;
$color--green-400: #1B883F !default;
$color--green-500: #0F713B !default;
$color--green-default: $color--green-400 !default;
$color--green-bg-light: #F6FAF4 !default;
$color--green-hover: #0F713B !default;

// blue
$color--blue-100: #F3F8FB !default;
$color--blue-200: #C2DDF0 !default;
$color--blue-300: #228BD3 !default;
$color--blue-400: #006FBB !default;
$color--blue-500: #005894 !default;

// teal
$color--teal-200: #CDEFEE !default;
$color--teal-300: #7FD2D1 !default;
$color--teal-400: #47C1BF !default;
$color--teal-500: #2EA3A1 !default;

// red
$color--red-200: #F1A2A7 !default;
$color--red-300: #EA4D55 !default;
$color--red-400: #D70C17 !default;
$color--red-500: #B80F18 !default;

// yellow
$color--yellow-200: #FEEEAE !default;
$color--yellow-300: #FEE37C !default;
$color--yellow-400: #FFD943 !default;
$color--yellow-500: #FFBC00 !default;
